@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #7C14FD;
  --primary-color-light: #7C14FD50;
  /* --light-pink: #F5EDFF; */
  --light-pink: #FAF6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--light-pink);
}


